:root {
  --dark: #033043;
  --light: #f8f4ec;
  --accent: #0a7273;
  --highlight: #fda521;
  --highlight-dark: #f29202;
}

/*  BASIC SETUP ============================================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


/*  REUSABLE COMPONENTS  ===================================================================== */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  margin-top: 60px;
  padding: 60px 0;
  min-height: calc(100vh - 271px);
}

.box {
  padding: 1%;
}

/*  HEADER =================================================================================== */

header {
  height: 60px;
  background-color: var(--light);
  box-shadow: 0 2px 2px #c2c2c2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(Assets/hero.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  box-shadow: none;
}

header.home * {
  color: var(--light) !important;
}

nav .row {
  display: flex;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box h1:first-of-type {
  font-weight: bold;
}
.hero-text-box h1:last-of-type {
  font-size: 180%;
}

.logo,
.logo:link,
.logo:visited {
  text-decoration: none;
  color: inherit;
  background: none;
  outline: none;
  border: none;
}

.logo {
  display: flex;
  margin-top: 15px;
}

.logo img {
  height: 30px;
  width: auto;
  float: left;
}

.logo p {
  line-height: 30px;
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  letter-spacing: 2px;
}

.main-nav {
  margin-left: auto;
  list-style: none;
  margin-top: 20px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--highlight);
}

.mobile-nav-icon {
  margin-left: auto;
  margin-top: 6px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon svg path {
  stroke: var(--dark);
}

header.home .mobile-nav-icon svg path {
  stroke: var(--light);
}

header.home .logo img {
  filter: brightness(0) invert(1) sepia(1) saturate(0) brightness(0.95);
}

.authors {
  margin-top: calc(100vh - 60px);
  transform: translateY(-100%);
}

.authors span {
  font-style: italic;
  font-weight: bold;
}

/*  HEADINGS  ============================================================================= */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--dark);
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: var(--highlight);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*  LINKS  ============================================================================== */

a:link,
a:visited {
  color: var(--highlight);
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--highlight);
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*  BUTTONS  ============================================================================= */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  color: var(--dark) !important;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--highlight-dark);
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  border: 1px solid var(--highlight-dark);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--highlight-dark);
  color: #fff;
}



/*  FORM  ============================================================================= */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  color: var(--dark);
  background-color: var(--light);
  border-radius: 3px;
  border: 1px solid var(--dark);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--dark);
  opacity: 0.5;
}

textarea {
  height: 100px;
}

input[type="ckeckbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/*  GALLERY ============================================================================= */

.gallery-grid {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gallery-grid figure {
  position: relative;
  background-color: var(--dark);
  aspect-ratio: 4 / 5;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 10px 10px #c2c2c2;
}

.gallery-grid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid figure h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: 150%;
  opacity: 0;
  margin: 0;
  width: 80%;
  text-align: center;
}

.gallery-grid figure img,
.gallery-grid figure h3 {
  transition: all 0.3s;
}

.gallery-grid figure:hover img {
  opacity: 0.3;
  scale: 1.1;
}

.gallery-grid figure:hover h3 {
  opacity: 1;
}

/*  SIGHTS and TOURS ===================================================================== */

.info-text {
  margin-bottom: 50px;
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.info-section,
.popular-tours-section {
  background-color: var(--accent);
  padding: 20px 0;
  color: var(--light);
  margin-bottom: 50px;
}

.info-section p {
  margin-bottom: 20px;
  font-size: 85%;
}
.info-section h3 {
  font-size: 100%;
}

.info-section h3:after {
  display: block;
  height: 2px;
  background-color: var(--highlight);
  content: " ";
  width: 100px;
  margin-top: 10px;
}

.card {
  background-color: white;
  box-shadow: 0 5px 10px var(--dark);
  width: 90%;
  float: right;
  padding: 20px;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card p {
  margin-top: 10px;
  font-size: 110%;
  margin-bottom: 0;
  color: var(--dark);
}

.sights-grid,
.popular-tours-grid {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.sights-grid .card {
  width: 100%;
  box-shadow: 0 10px 10px #c2c2c2;
}

.popular-tours-grid .card {
  width: 100%;
}

.info-section:last-child {
  margin-bottom: 0;
}

.tour-section:not(:last-child) {
  margin-bottom: 50px;
}

.tour-section figure {
  max-width: 90%;
  max-height: 350px;
  float: left;
  position: relative;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 10px 10px #c2c2c2;
}

.tour-section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.tour-section figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.tour-section figure p,
.tour-section figure h3 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: var(--light);
  z-index: 2;
}

.tour-section figure h3 {
  bottom: 20px;
  font-weight: bold;
}

.tour-section .tour-info {
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tour-title {
  font-style: italic;
  font-weight: bold;
}

.tour-description {
  font-size: 90%;
  margin-bottom: auto;
}

.tour-highlight {
  color: var(--highlight);
  display: flex;
  justify-content: space-between;
}

.tour-distance {
  color: var(--dark);
  font-size: 110%;
  font-style: italic;
  font-weight: bold;
}

.tour-info input {
  margin: 0;
  margin-top: 10px;
}

/*  FOOTER  ============================================================================= */

footer {
  background-color: var(--accent);
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: var(--light);
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: var(--highlight);
}

.social-links li a:link svg,
.social-links li a:visited svg {
  fill: var(--light);
}

.social-links li a:hover svg,
.social-links li a:active svg {
  fill: var(--highlight);
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

footer p {
  margin-top: 20px;
  color: var(--light);
  opacity: 0.5;
  text-align: center;
}

footer .citation {
  opacity: 1;
}

footer .citation a {
  text-decoration: none;
  border: none;
  color: var(--highlight);
}

/* CUSTOM COMPONENTS ===================================================================== */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

.span-full {
  width: 100%;
  margin: 1% 0;
}

.span-2-of-2 {
  width: 100%;
}

.span-1-of-2 {
  width: 49.2%;
}

.center {
  text-align: center;
}

/*  RESPONSIVE  ============================================================================= */

/* Big tablets to 1200px(widths smaller that 1140px row */

@media only screen and (max-width: 1200px) {
  .row,
  .hero-text-box,
  .gallery-grid,
  .sights-grid,
  .popular-tours-grid {
    width: 100%;
    padding: 0 2%;
  }
}

/* Small tablets to big tablets: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  main {
    padding: 30px 0;
    min-height: calc(100vh - 200px);
  }

  h2 {
    font-size: 160%;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 100%;
    margin-bottom: 10px;
  }

  h2:after {
    margin-top: 20px;
  }

  .info-text {
    margin-bottom: 30px;
  }

  .info-section,
  .popular-tours-section {
    margin-bottom: 30px;
  }

  .sights-grid,
  .popular-tours-grid {
    gap: 15px;
    margin-bottom: 30px;
  }

  .tour-section:not(:last-child) {
    margin-bottom: 30px;
  }

  .tour-section .tour-info {
    height: 220px;
    gap: 5px;
  }

  .tour-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
  }

  .card {
    padding: 10px;
  }

  .card p {
    font-size: 100%;
    margin-top: 5px;
  }

  .gallery-grid {
    gap: 15px;
  }

  .contact-form {
    width: 80%;
  }

  footer {
    padding: 30px;
  }
}

/*  Phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  main {
    padding: 20px 0;
  }

  .col:not(.span-full) {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    position: absolute;
    right: 0;
    top: 55px;
    margin: 0;
    flex-direction: column;
    align-items: flex-end;
    right: 15px;
    padding: 5px 15px;
    border-radius: 5px;

    background-color: var(--light);
    box-shadow: 0 2px 2px #c2c2c2;
  }

  header.home .main-nav {
    background-color: transparent;
    box-shadow: none;
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 5px 0;
    font-size: 100%;
  }

  .main-nav.show {
    display: flex;
  }

  .row,
  .hero-text-box,
  .gallery-grid,
  .sights-grid,
  .popular-tours-grid {
    padding: 0 4%;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 150%;
  }

  .info-text {
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
  }

  .info-section,
  .popular-tours-section {
    margin-bottom: 15px;
  }

  .sights-grid,
  .popular-tours-grid {
    gap: 15px;
  }

  .tour-section:not(:last-child) {
    margin-bottom: 15px;
  }

  .gallery-grid,
  .sights-grid,
  .popular-tours-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .info-section .card {
    float: none;
    margin: 0 auto;
  }

  .tour-section figure {
    max-width: 100%;
  }

  .tour-section .tour-info {
    height: fit-content;
  }

  .tour-description {
    margin-bottom: 5px;
  }

  footer .col {
    text-align: center;
  }

  .footer-nav {
    float: none;
  }

  .social-links {
    float: none;
  }
}
